@model Sneaker_Bar.Models.Article
@{
    ViewData["Title"] = "Edit Article";
}

<div>
    <h1>Edit Article</h1>

    <form asp-controller="Article" asp-action="ArticleEdit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="Title"></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" asp-for="Title" />
            </div>
            <span asp-validation-for="Title"></span>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="Text"></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" asp-for="Text" />
            </div>
            <span asp-validation-for="Text"></span>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for=ImageData></label>
            <div class="col-sm-6">
                <input type="file" class="form-control" asp-for="ImageData" />
            </div>
            <span asp-validation-for="ImageData" class="text-danger"></span>
        </div>


        @if (Model != null && Model.ImageData != null)
        {
            <div class="col-sm-8">
                <img class="img-thumbnail" src="~/images/articles/@Model.ImageData"
                     asp-append-version="true" id="imageInput" />
            </div>
        }
        <div class="col-sm-8">
            <div class="form-group row">
                <input type="submit" value="Save" class="btn btn-primary" style="margin-top:10px; margin:auto" />
            </div>
        </div>


    </form>
</div>
