@model Sneaker_Bar.Models.Sneakers
<div>
    <h1>Edit Sneakers</h1>

    <form asp-controller="Home" asp-action="SneakersEdit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="Company"></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" asp-for="Company" />
            </div>
            <span asp-validation-for="Company"></span>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="Model"></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" asp-for="Model" />
            </div>
            <span asp-validation-for="Model"></span>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="Price"></label>
            <div class="col-sm-6">
                <input type="number" class="form-control" asp-for="Price" />
            </div>
            <span asp-validation-for="Price"></span>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="ReleaseDate"></label>
            <div class="col-sm-6">
                <input type="date" class="form-control" asp-for="ReleaseDate" />
            </div>
            <span asp-validation-for="ReleaseDate"></span>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <input type="file" class="form-control" name="image" />
            </div>
        </div>

        @if (Model.ImageData == null)
        {
            <a class="font-weight-bold">Изображение отсуствует</a>
        }
        else
        {
            <img class="img-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImageData))" />
        }


        <input type="submit" value="Save" />
    </form>
</div>
