<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   autoReload="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="ColoredConsole" name="consoleLogs" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
		<target xsi:type="File" name="allLogs" fileName="logs/all-logs-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="errorLogs" fileName="logs/error-logs-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
		<target xsi:type="File" name="authenticationLogs" fileName="logs/authentication-logs-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${message}" />
		<target xsi:type="File" name="articlesLogs" fileName="logs/articles-logs-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="allLogs" />
		<logger name="*" minlevel="Error" writeTo="errorLogs, consoleLogs" />
		<logger name="WebApplication1.Areas.Identity.Pages.Account.LoginModel" level="Info" writeTo="authenticationLogs"/>
		<logger name="WebApplication1.Areas.Identity.Pages.Account.RegisterModel" level="Info" writeTo="authenticationLogs"/>
		<logger name="Sneaker_Bar.Controllers.ArticleController" levels="Info, Warn" writeTo="articlesLogs"/>
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		
	</rules>
</nlog>
