a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;

}

h4 {
    font-style: italic;
}

.right {
    position: absolute;
    right: 5px;
    padding: 10px;
}
  

.center {
    display: flex;
    align-items: center;
}

.detail-img {
    margin-right: auto;
    margin-left: auto;
    display: block
}

.card-body {
    text-align: center;
}

.card-grid {
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 20px;
}

.deck-index {
    display: -webkit-box;
}

input .btn-primary {
    margin:auto;
    margin-top:10px;
}

.article-title {
color:brown;
font-weight:bold;
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Poppins&display=swap');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.jumbotron {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/4e483087953183.5dc80d7a56dbc.png");
    background-size: cover;
    color: white;
    margin-right:45px;
    margin-left:30px;
}

    .jumbotron h1 {
        font-size: 5rem;
        font-weight: 300;
        line-height: 1.2;
        margin-top: 50px;
    }

.baha1493 {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 250px;
    max-width: 290px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    margin-left:40px;
    margin-right:40px;
    margin-bottom:80px;
}

    .baha1493 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .baha1493:after {
        position: absolute;
        top: 12px;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 0 25px 25px;
        border-color: transparent transparent transparent #d2652d;
        content: '';
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .baha1493 img {
        max-width: 100%;
        vertical-align: top;
        position: relative;
    }

    .baha1493 figcaption {
        padding: 20px 20px 30px;
        background-color: #ffffff;
    }

    .baha1493 .date {
        font-family:"Goldman", cursive;
        background-color: #d2652d;
        top: 15px;
        color: #fff;
        right: 15px;
        min-height: 48px;
        min-width: 48px;
        position: absolute;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 50%;
        padding: 10px 0;
    }

        .baha1493 .date span {
            display: block;
            line-height: 14px;
        }

        .baha1493 .date .month {
            font-size: 11px;
        }

    .baha1493 a,
    .baha1493 p {
        margin: 0;
        padding: 0;
    }

    .baha1493 a {
        font-family: "Inconsolata", cursive;
        font-size: 30px;
        margin-bottom: 10px;
        display: inline-block;
        font-weight: 400;
        color: black;
    }


    .baha1493 a:hover {
      color:black;
    }

    .baha1493 p {
        font-family: "Inconsolata", cursive;
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 1.6em;
    }

    .baha1493 footer {
        padding: 0 25px;
        color: #999999;
        font-size: 0.8em;
        line-height: 50px;
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

    }

        .baha1493 footer > div {
            display: inline-block;
            margin-right: 15px;
            font-size:15px;
         }

        .baha1493 footer i {
            margin-right: 5px;
            font-size: 1.2em;
        }


    .baha1493:hover:after,
    .baha1493.hover:after {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }



.mb-3 p {
    text-align: start;
    margin-bottom: 0.5rem !important;
}

.mb-0 p {
    margin:auto;
    margin-bottom:20px;
}